@model NGM.Forum.ViewModels.ThreadCloseAdminViewModel
@using NGM.Forum.Extensions;

@{ Layout.Title = T("Close Thread").ToString(); }

@using (Html.BeginFormAntiForgeryPost(Url.Action("Close", "Thread", new {area = Constants.LocalArea, threadId = Model.ThreadId, returnUrl = Request.QueryString["ReturnUrl"]}))) {
    <fieldset>
        <legend>@Layout.Title</legend>
        <div>
            @Html.LabelFor(m => m.Description, @T("Write the reason for closing this thread."))
            <span class="hint">Once closed, the reason will be displayed along with a closed notice at the top of the thread.</span>
            @Html.TextArea("Description", (string) Model.Description, 25, 80, null)
            
        </div>

    </fieldset>

    <button type="submit">@T("Close")</button>
}