@using NGM.Forum.Models
@using NGM.Forum.Extensions
@using Orchard.Utility.Extensions



@{
    
    
}

<h1 class="page-title">@T("The Post was Successfully Reported as Innappropriate.")</h1>

    <p>@T("The post has been submitted to an administrator for review.  Appropriate action will be taken such as removing the post or possibly banning the user.  You will remain anonymous during this process and normally will not be contacted.")</p>
    <p>@T("We greatly appreciate you taking the time to help us maintain a good community!")</p>


<div> <a class='btn' href="@Model.ReturnUrl">@T("<< Return to reading the forums")</a> </div>