@using NGM.Forum.Models
@using NGM.Forum.Extensions
@using Orchard.Utility.Extensions

@{
    Style.Require("Forum").AtHead();
    Script.Require("UtcToLocal");
}

@{
    IEnumerable<object> threads = Model.ContentItems;
    ForumPart contentPart = Model.ContentPart;
    Model.ContentItems.Classes.Add("content-items");
    //var contentTypeClassName = ((string)contentPart.ContentItem.ContentType + "-threads").HtmlClassify();
    String contentTypeClassName = "subscription-threads";
    Model.ContentItems.Classes.Add(contentTypeClassName);
}

@Display(Model.ForumMenu)
<div class='menu-clear'></div>
<h2>@T("Subscriptions ")</h2>

<h3>@T("Forum topics you are subscribed to:")</h3>

   @using(Html.BeginFormAntiForgeryPost(Url.Action("ManageSubscription", "Subscription"))) {
       
        @Display(Model.ContentItems)

        if (threads == null || threads.Count() < 1) {
            <p class="nocontentitems">@T("You are not subscribed to any discussions.")</p>
        } 
    }

