@model NGM.Forum.Models.ForumPart
<fieldset>
    @Html.LabelFor(m => m.Description, T("Description"))
    @Html.TextAreaFor(m => m.Description, 5, 60, null)
</fieldset>
@*<fieldset>
    @Html.EditorFor(m => m.ThreadedPosts) 
    <label class="forcheckbox" for="@Html.FieldIdFor( m => m.ThreadedPosts)">@T("Threaded Posts")</label>
</fieldset>*@