@using NGM.Forum
@model NGM.Forum.Models.ThreadPart

@{
    
    Style.Require("ForumsAdmin");
}

@if (AuthorizedFor(Permissions.StickyThread)) {
    <div>
        <input type="checkbox" value="true" class="check-box" id="@Html.FieldIdFor(m => m.IsSticky)" name="@Html.FieldNameFor(m => m.IsSticky)" @(Model.IsSticky ? "checked=\"checked\"" : "")/>
        <input name="@Html.FieldNameFor(m => m.IsSticky)" type="hidden" value="false">
        <label class="forcheckbox" for="@Html.FieldIdFor(m => m.IsSticky)">@T("Is Sticky")</label>
        <div class="hint">@T("*Threads that are important, such as notices, are stickyed. A sticky thread always appear at the top of the list above normal threads.")</div>
    </div>
}