@using Orchard.Utility.Extensions;
@{
    Style.Require("Forum").AtHead();
    Script.Require("UtcToLocal");
}
@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");
    Model.Attributes.Add("data-contentitem-id", Model.ContentItem.Id.ToString());

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    Model.Classes.Add("thread-detail");

    var stickyClass = ((string)Model.StickyClass).HtmlClassify();
    if (!string.IsNullOrWhiteSpace(stickyClass))
    {
        Model.Classes.Add(stickyClass);
    }

    if (Model.ContentItem.ThreadPart.FirstPost.IsInappropriate == true)
    {
        Model.Classes.Add("inappropriate-thread");
    }

    var tag = Tag(Model, "article");
     

}
@tag.StartElement
<header>
    @if (Model.Nav != null || Model.NavBar != null)
    {
        <nav  role="navigation">
            <div class="navbar navbar-default">
                @Display(Model.NavBar)
            </div>
            @if ( Model.Nav != null ) {
                @Display(Model.Nav )
            }
        </nav>
    }
    @if ( Model.Header != null ) {
        @Display(Model.Header)
    }

    @if (Model.Meta != null)
    {
        <div class="metadata">
            @Display(Model.Meta)
        </div>
    }

    @if (Model.Actions != null)
    {
        <div class="actions">
            @Display(Model.Actions)
        </div>
    }

    @if (Model.ThreadTitle != null)
    {
        <div class="thread-title">
            @Display(Model.ThreadTitle)
        </div>
    }
</header>
<section>
    @Display(Model.Content)
</section>
@if (Model.Footer != null)
{
        
    <footer>
        @Display(Model.Footer)
    </footer>
        
}
@tag.EndElement

@using (Script.Foot())
{
    <script type="text/javascript">

        //<![CDATA[
        $(document).ready(function () {
            $(".delete.btn-post-option.btn-admin").click(function () {
                return confirm("@T("Do you want to delete this post? Deletion is permanent and cannot be undone.").ToString()");
        });
    });
    //]]>

    </script>

}