@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null) {
        Layout.Title = Model.Title;
    }
    
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    var contentItemId = Model.ContentItem.Id;
}
<article id="@contentItemId" class="content-item @contentTypeClassName" data-contentitem-id="@Model.ContentItem.Id">
    <header>
        @Display(Model.Header)
        @if (Model.Meta != null) {
            <div class="metadata">
                @Display(Model.Meta)
            </div>
        }
    </header>
    <div class="post-content">
        @Display(Model.Content)
    </div>
    <footer>
        @Display(Model.Footer)
        @if (Model.Actions != null) {
            <div class="actions">
                @Display(Model.Actions)
            </div>
        }
    </footer>
</article>