@using NGM.Forum.Extensions;
@using NGM.Forum.Models;
@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
    ThreadPart thread = (ThreadPart)contentItem.Get(typeof(ThreadPart));
}
<a href="@Url.ThreadForAdmin(thread)" title="@T("List Posts")">@T("List Posts")</a>@T(" | ")
<a href="@Url.ThreadMove(thread)" title="@T("Move")">@T("Move")</a>@T(" | ")

@if (thread.IsClosed) {
    <a href="@Url.ThreadOpen(thread)" title="@T("Reopen")">@T("Reopen")</a>@T(" | ")
}
else {
    <a href="@Url.ThreadClose(thread)" title="@T("Close")">@T("Close")</a>@T(" | ")
}