@using NGM.Forum.Extensions
@using NGM.Forum.Models
@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects

@{
    var postPart = (PostPart)Model.ContentPart;

    ICommonPart commonPart = null;
    if (postPart != null){
        commonPart = postPart.As<ICommonPart>();
    }
    
}
@if (postPart != null) {
    <div class="latestpost">
        <a href="@Url.ViewLatestPost(postPart)">@T("Last Post")</a> @T("by") @commonPart.Owner.UserName <span class="meta">, @commonPart.PublishedUtc.Value.ToString("M/d/yyyy h:mm tt")</span>
    </div>
} else { 
    <div class="latestpost">@T("No posts yet...")</div>
}
