@using NGM.Forum
@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.ContentPart;
}

@if (Authorizer.Authorize(Orchard.Core.Contents.Permissions.DeleteContent, postPart.ContentItem) && !postPart.IsParentThread()) {
    <a href="@Url.PostDelete(postPart)" class="remove">@T("Delete")</a>
}
@if (Authorizer.Authorize(Orchard.Core.Contents.Permissions.PublishContent, postPart.ContentItem)) {
    <a href="@Url.PostReply(postPart)" class="create">@T("Reply")</a>
    <a href="@Url.PostReplyWithQuote(postPart)" class="create quote">@T("Reply with Quote")</a>
}
