@using NGM.Forum
@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var threadPart = (ThreadPart)Model.ContentPart;
    var firstPostPart = (PostPart)Model.FirstPost;
    var newPostPart = (PostPart)Model.NewPost;    
}

<div class="thread-management-options">
    @if (Authorizer.Authorize(Orchard.Core.Contents.Permissions.DeleteContent, threadPart) 
        && Authorizer.Authorize(Orchard.Core.Contents.Permissions.DeleteContent, firstPostPart) 
        && firstPostPart.IsParentThread()) {
        <a href="@Url.ThreadDelete(threadPart)" class="delete btn-post-option admin">@T("Delete")</a>
    }
    @if (Authorizer.Authorize(Orchard.Core.Contents.Permissions.EditContent, threadPart)
        && Authorizer.Authorize(Orchard.Core.Contents.Permissions.EditContent, firstPostPart) 
        && firstPostPart.IsParentThread()) {
        <a href="@Url.ThreadMove(threadPart)" class="move btn-post-option admin">@T("Move")</a>
    }
        @if (Authorizer.Authorize(Orchard.Core.Contents.Permissions.EditContent, threadPart)
        && Authorizer.Authorize(Orchard.Core.Contents.Permissions.EditContent, firstPostPart) 
        && firstPostPart.IsParentThread()) {
            if (threadPart.IsClosed)
            {
                <a href="@Url.ThreadOpen(threadPart)" class="open btn-post-option admin">@T("Open")</a>
            }
            else
            {
                <a href="@Url.ThreadClose(threadPart)" class="close btn-post-option admin">@T("Close")</a>
            }
        
    }
    @if (Authorizer.Authorize(Orchard.Core.Contents.Permissions.PublishContent, newPostPart)) {
        if (!firstPostPart.ThreadPart.IsClosed) {
            <a href="@Url.PostReply(firstPostPart)" class="create btn-post-option user">@T("Reply to Thread")</a>
        }
    }
</div>

@using (Script.Foot())
{
    <script type="text/javascript">

    //<![CDATA[
    $(document).ready(function () {
        $("document").on("click", ".delete.btn-post-option.admin", function () {
            return confirm( "@T("Do you want to delete this thread?  Deleting the thread will also remove all associated posts.  Deletion is permanent and cannot be undone.").ToString()");
        });
    });
    //]]>

    </script>

}