@using NGM.Forum.Extensions;
@using NGM.Forum.Models;
@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@{
    ContentItem contentItem = Model.ContentItem;
    ModerationPart part = (ModerationPart)contentItem.Get(typeof(ModerationPart));
}
@if (!part.Approved) {
    if (part.ApprovalUtc == null) {
        <a href="@Url.ModerationApproveForAdmin(part, true)" title="@T("Approve")">@T("Approve")</a>@T(" | ")
        <a href="@Url.ModerationApproveForAdmin(part, false)" title="@T("Not Approved")">@T("Not Approved")</a>@T(" | ")
    }
    else {
        <a href="@Url.ModerationApproveForAdmin(part, true)" title="@T("Approve")">@T("Approve")</a>@T(" | ")
    }
}
else {
    <a href="@Url.ModerationApproveForAdmin(part, false)" title="@T("Unapprove")">@T("Unapprove")</a>@T(" | ")
}