@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    ThreadPart threadPart = Model.ContentPart;
}
<ul class="contentItemStatus">
    @* Published or not *@
    @if (threadPart.IsApproved()) {
        <li><img class="icon" src="@Href("~/Modules/NGM.Forum/Content/Admin/images/approved.gif")" alt="@T("Approved")" title="@T("The thread is currently approved")" /> </li> <li>@T("Approved")&nbsp;&#124;&nbsp;</li>
    }
    else {
        <li><img class="icon" src="@Href("~/Modules/NGM.Forum/Content/Admin/images/awaitingapproval.gif")" alt="@T("Awaiting approval")" title="@T("The thread is awaiting approval")" /> </li> <li>@T("Awaiting Approval")&nbsp;&#124;&nbsp;</li>
    }
</ul>