@using NGM.Forum.Extensions
@using NGM.Forum.Models
@using Orchard.ContentManagement
@using Orchard.ContentManagement.Aspects

@{
    var postPart = Model.ContentPart as PostPart;

    ICommonPart commonPart = null;
    var username = string.Empty;
    if (postPart != null){
        commonPart = postPart.As<ICommonPart>();
        username = commonPart.Owner != null ? commonPart.Owner.UserName : T("Anonymous user").Text;
    }
}
@if (postPart != null) {
    <div class="latestpost">
        <a href="@Url.ViewLatestPost(postPart)">@T("Last Post")</a> @T("by") @username <span class="meta">@Display.DateTimeRelative(dateTimeUtc: commonPart.PublishedUtc.Value)</span>
    </div>
} else { 
    <div class="latestpost">@T("No posts yet...")</div>
}
