@using NGM.Forum
@using NGM.Forum.Extensions
@using NGM.Forum.Models
@{
    var postPart = (PostPart)Model.ContentPart;
    var newPostPart = (PostPart)Model.NewPost;
    var commonPart = (Orchard.Core.Common.Models.CommonPart) Model.ContentPart.CommonPart;
    bool isOwner = false;
    if ( Model.UserId != null ) {
        if ( commonPart.Owner.Id == Model.UserId ) {
            isOwner = true;
        }
    }
}

@if (Authorizer.Authorize(Permissions.DeleteThreadsAndPosts) && !postPart.IsParentThread())
{
    <a href="@Url.PostDelete(postPart)" class="delete btn-post-option admin">@T("Delete")</a>
}

@if (Authorizer.Authorize(Permissions.CreateThreadsAndPosts, newPostPart)) {
    <a href="@Url.PostReply(postPart)" class="create btn-post-option user">@T("Reply")</a>
    <a href="@Url.PostReplyWithQuote(postPart)" class="create btn-post-option user">@T("Reply with Quote")</a>
}

@if (Authorizer.Authorize(Permissions.EditPosts, newPostPart))
{    
    <a href="@Url.PostEdit(postPart)" class="edit btn-post-option user">@T("Edit")</a> 
}

