@using Html.Helpers;
@using NGM.Forum.Extensions
@using NGM.Forum;
@using NGM.Forum.Models;
@{
    
    int postId = Model.ContentItem.Id;
    PostPart postPart = Model.ContentItem.PostPart;
}

@* Only when the user is a moderator or administrator will there be inappropriate posts included in the list so don't need to check permissions at this level *@
@if (postPart.IsInappropriate == true)
{
    <div class="report-post-link unmark-inappropriate bg-warning"><i class="icon-exclamation-sign"></i><a href="@Url.PostRemoveInappropriate(postPart )">@T("Unmark as Inappropriate")</a></div>
} else {

    if (Model.CanManageForums == true)
    {
        @*if the user is a mod or admin then allow them to report inappropriate links *@                    
        <div class="report-post-link"><i class="icon-exclamation-sign"></i><a href="@Url.PostMarkInappropriate(postPart)" class="inapprorpriate">@T("Mark as Inappropriate")</a></div>
    } else {
        @*if the user is not a mod or admin then allow them to report inappropriate links *@
        <div class="report-post-link"><i class="icon-exclamation-sign"></i><a href="@Url.ForumReportPost( postId )">@T("Report as Inappropriate")</a></div>
    }
}