@using NGM.Forum.Extensions;
@using Orchard.Core.Contents.ViewModels;
@using Orchard.Utility.Extensions;

@{ Layout.Title = T("Manage Forums' Home Pages").ToString(); }
<p>
    <i>
        <p>@T("A Forums' Home Page is the landing page which displays the individual forums it contains, grouped by various categories.") 
           @T("There can be more than one Forums' Home Page on a site, such as 'Automotive Forums' and 'Home Maintance Forums'")</p>
        <p class="hint">@T("Note that the Title of each Forums' Home Page becomes its base URL so name it in an SEO friendly manner.")</p>         

    </i>
</p>
@if (Model.ContentItems.Items.Count > 0) { 
<div class="actions"><a class="add button primaryAction" href="@Url.ForumCreateForumsHomePageForAdmin()">@T("New Forums' Home Page")</a></div>
    using(Html.BeginFormAntiForgeryPost(Url.Action("ListForumsHomePages", "Admin", new { area = "Contents", id = "" }))) {
        <fieldset class="bulk-actions">
            <label for="publishActions">@T("Actions:")</label>
            <select id="publishActions" name="Options.BulkAction">
                @Html.SelectOption(ContentsBulkAction.None, ContentsBulkAction.None, T("Choose action...").ToString())
                @Html.SelectOption(ContentsBulkAction.None, ContentsBulkAction.Remove, T("Delete").ToString())
            </select>
            @Html.Hidden("returnUrl", ViewContext.RequestContext.HttpContext.Request.ToUrlString())
            <button type="submit" name="submit.BulkEdit" value="yes">@T("Apply")</button>
        </fieldset>
        <fieldset class="contentItems bulk-items">
            @Display(Model.ContentItems)
        </fieldset>
    }
} else {
<div class="info message">@T("There are no forum's homes for you to see. Want to <a href=\"{0}\">add one</a>?", Url.ForumCreateForumsHomePageForAdmin())</div>
}