@using NGM.Forum.Extensions;
@using Orchard.Core.Contents.ViewModels;
@using Orchard.Utility.Extensions;
@using NGM.Forum.Models;

@{ Layout.Title = T("Manage Forums").ToString();
   var forumCategoryPart = (ForumCategoryPart)Model.ParentForumCategory;
   }

 <h3>@T("Listing the forums in the category") @Html.ItemDisplayLink(forumCategoryPart.ContentItem)</h3>

<p>
    <i>  @T("A forum represents a general topic to which users add their own discussions/questions and replies.")</i>
</p>
@if (Model.ContentItems.Items.Count > 0) { 
<div class="actions"><a class="add button primaryAction" href="@Url.ForumCreateForAdmin(forumCategoryPart)">@T("New Forum")</a></div>
    using(Html.BeginFormAntiForgeryPost(Url.Action("List", "Admin", new { area = "Contents", id = "" }))) {
        <fieldset class="bulk-actions">
            <label for="publishActions">@T("Actions:")</label>
            <select id="publishActions" name="Options.BulkAction">
                @Html.SelectOption(ContentsBulkAction.None, ContentsBulkAction.None, T("Choose action...").ToString())
                @Html.SelectOption(ContentsBulkAction.None, ContentsBulkAction.Remove, T("Delete").ToString())
            </select>
            @Html.Hidden("returnUrl", ViewContext.RequestContext.HttpContext.Request.ToUrlString())
            <button type="submit" name="submit.BulkEdit" value="yes">@T("Apply")</button>
        </fieldset>
        <fieldset class="contentItems bulk-items">
            @Display(Model.ContentItems)
        </fieldset>
    }
} else {
<div class="info message">@T("There are no forums for you to see. Want to <a href=\"{0}\">add one</a>?", Url.ForumCreateForAdmin(forumCategoryPart))</div>
}