@using NGM.Forum.Models
@using NGM.Forum.Extensions
@using Orchard.Utility.Extensions

@{
    Style.Require("Forum").AtHead();
    Script.Require("UtcToLocal");
}
@{
    IEnumerable<object> threads = Model.ContentItems;
    ForumPart contentPart = Model.ContentPart;
    Model.ContentItems.Classes.Add("content-items");
    //var contentTypeClassName = ((string)contentPart.ContentItem.ContentType + "-threads").HtmlClassify();
    String contentTypeClassName = "subscription-threads";
    Model.ContentItems.Classes.Add(contentTypeClassName);
    ForumsHomePagePart homepagePart = Model.ForumsHomepagePart;    
}
@* this is technically not correct use of html5 elements but this is not search engine material and will help
   to keep the css more consistent/minimal *@
<header>
    <nav role="navigation">
        <div class="navbar navbar-default">
            @Display( Model.ForumMenu)
            @Display( Model.ForumSearch )
        </div>
        @Display( Model.BreadCrumb )
    </nav>

    @if ( homepagePart != null ) {        
        <h1>@T("Discussions")</h1>
    } else {
        <h1>@T("Discussions For All Forums")</h1>
    }

    <p>@T("Discussions started by you or that you have participated in:")</p>
</header>
<section>

    @Display(Model.ContentItems)

    @if (threads == null || threads.Count() < 1) {
        <p class="nocontentitems">@T("You have not started nor participated in any discussions.")</p>
    } else if ( Model.Pager.TotalItemCount > Model.Pager.PageSize ) {
        @Display( Model.Pager )   
    }

</section>
 

