@using NGM.Forum.Models
@using NGM.Forum.Extensions
@using Orchard.Utility.Extensions

@model NGM.Forum.ViewModels.RemoveInappropriateFlagViewModel

@{
    Style.Include("ngm-forum-common-admin").AtHead();
}

@using(Html.BeginFormAntiForgeryPost()) { 

        <h1 class="page-title">@T("Mark Post Inappropriate")</h1>

    <fieldset>
        

        @Html.ValidationSummary()
        <div class="editor-label">
            @Html.LabelFor( model => model.Report.Note, T("Note") )
            <div class='label-info'>@T("Enter a note describing why the post is inappropriate and any actions taken such as deleting the post, banning the user, etc.")</div>
        </div>

        <div class="editor-field" >
            @Html.TextAreaFor( model => model.Report.Note, new { @class= "wide" } )
            @Html.ValidationMessageFor(model => model.Report.Note)
        </div>
        <br />
        <div class='label-info'>@T("Mark the post as resolved to remove it from the list of pending reports.")</div>

        <div class="editor-field" >
             @Html.CheckBoxFor( model => model.Report.IsResolved)
            @T("Is Resolved")
            @Html.ValidationMessageFor(model => model.Report.IsResolved)            
        </div>
        @Html.HiddenFor( model => model.Report.PostId )
        @Html.HiddenFor( model => model.Report.Id )
        @Html.HiddenFor( model=>model.ReturnUrl )
                
    </fieldset>
    
<br />

<input class='btn btn-primary' type="submit" value="Mark Post Inappropriate"/>

<a style="display:inline-block" class='btn btn-default' href="@Model.ReturnUrl">@T("Cancel").ToString()</a>
} 




