@using NGM.Forum.Models
@using NGM.Forum.Extensions
@using Orchard.Utility.Extensions

@model NGM.Forum.ViewModels.RemoveInappropriateFlagViewModel

@{               
    Style.Include("ngm-forum-common-admin").AtHead();
}

<h1 class="page-title">@T("Remove Inappropriate Flag from Post")</h1>
@using(Html.BeginFormAntiForgeryPost()) { 
    
    
    <fieldset>
        
        @Html.ValidationSummary()

        <div class="editor-label">
            @Html.LabelFor( model => model.Report.Note, T("Note") )
            <div class='label-info'>@T("Please review the previous note(s) below and enter at the end why the post is now concidered appropriate.")</div>
        </div>
        <div class="editor-field" >
            @Html.TextAreaFor( model => model.Report.Note, new { @class= "wide" } )
            @Html.ValidationMessageFor(model => model.Report.Note)
        </div>
        <br />
        <div class="editor-label">            
            <div class='label-info'>@T("Marking a report as resolved removes it from the list of posts reported as inappropriate.")</div>
        </div>
        <div class="editor-field" >
            @Html.CheckBoxFor( model=> model.Report.IsResolved) 
            <label>@T("Is Resolved")</label>
            @Html.ValidationMessageFor(model => model.Report.IsResolved)
            
        </div>
        @Html.HiddenFor( model => model.Report.Id )
        @Html.HiddenFor(model=>model.Report.PostId )
        @Html.HiddenFor( model=>model.ReturnUrl )
                
    </fieldset>
    
<br />

<input class="btn btn-primary" type="submit" value="@T("Remove Inappropriate flag from post")"/>

<a style="display:inline-block" class='btn btn-default' href="@Model.ReturnUrl">@T("Cancel").ToString()</a>
} 




