@using NGM.Forum.Models
@using NGM.Forum.Extensions
@using Orchard.Utility.Extensions

@{
    Style.Include("ngm-forum-common-admin").AtHead();
}
<h2>@T("The post has been reported.")</h2>

<p>@T("The post has been submitted to an administrator for review and appropriate actions taken as necessary. During this process you will not be contacted.")</p>
<p>@T("We greatly appreciate you taking the time to help us maintain a good community of language learners.")</p>

<div> <a class='btn' href="@Model.ReturnUrl">@T("<< Return to reading the forums")</a> </div>