@model NGM.Forum.ViewModels.ForumsSearchViewModel
@{
    Style.Require("Search");
    Script.Require("jQuery").AtHead();
    Script.Require("UtcToLocal");

    IEnumerable<object> searchResults = Model.ContentItems;
    Model.ContentItems.Classes.Add("content-items");
    Model.ContentItems.Classes.Add("search-results");
}

@if (Model.ForumMenu != null ) {
    @Display( Model.ForumMenu )
}

@Display( Model.ForumSearch)

@Display( Model.BreadCrumb)


<h1 class="clearfix">@Html.TitleForPage(T("Search Results").Text)</h1>

@if (HasText(Model.Query)) {
    if (!searchResults.Any()) { 
        <p class="search-summary">@T.Plural("There is <em>one</em> result", "<em>zero</em> results", searchResults.Count())</p>
    } else { 
        <p class="search-summary">@T.Plural("There is <em>one</em> result", "<em>{1} - {2}</em> of <em>{0}</em> results", Model.TotalItemCount, Model.StartPosition, Model.EndPosition)</p>
    }
}
@if (searchResults != null && searchResults.Any()) {
    @Display(searchResults)

   if ( Model.Pager.TotalItemCount > Model.Pager.PageSize ) {
        @Display( Model.Pager )   
    }

} 