@using NGM.Forum.Models;

@model dynamic

@{
    Script.Require("UtcToLocal");
    Style.Require("Forum").AtHead();    
}

@Display(Model.ForumSearch )
@Display(Model.ForumMenu )
@Display(Model.BreadCrumb )

<h2 class="clearfix">@T("View New Posts")</h2>

@if (Model.Posts.Count == 0)
{
    <p class="info">@T("There are no new posts.")</p>
} else {
    <div id="new-post-list">

        @Display(Model.Posts)
    </div>
    if ( Model.Pager.TotalItemCount > Model.Pager.PageSize ) {
        @Display( Model.Pager )   
    }
}