@using NGM.Forum.Models;

@model dynamic

@{
    Script.Require("UtcToLocal");
    Style.Require("Forum").AtHead();
    var postsDic = (Dictionary<int, dynamic> ) Model.PostByThreadDic;
    var threadDic = (Dictionary<int, ThreadPart>) Model.ThreadDic;
}

@Display(Model.ForumSearch )
@Display(Model.ForumMenu )
@Display(Model.BreadCrumb )

<h2 class="clearfix">@T("View New Posts By Thread")</h2>


    @if (threadDic.Count == 0)
    {
        <p class="info">@T("There are no new posts.")</p>
    } else {
        <p>@T("Click the title to see the posts in a thread.")</p>    
        foreach ( var threadKey in threadDic.Keys ) {
        <ul id="new-posts-by-thread-list" class="list-no-style">

            @{
            string postCountDisplay = "";
                if ( postsDic[threadKey].Items.Count ==1 ) {
                    postCountDisplay = T("New Post").ToString();
                } else {
                    postCountDisplay = T("New Posts").ToString();
                }
            }

            <li><p class="new-posts-thread-title">@threadDic[threadKey].Title <span class="new-post-count">@postsDic[threadKey].Items.Count @postCountDisplay </span> <a class="view-new-post" href="@Url.ItemDisplayUrl( threadDic[threadKey])" > @T("View") </a></p>
            <ul class="new-post-list list-no-style">

            @foreach (var post in postsDic[threadKey])
            {
            
                <li>
                    @Display(post)
                    
                </li>
                
            }
            </ul>

            </li>
        </ul>        
        }
        if ( Model.Pager.TotalItemCount > Model.Pager.PageSize ) {
            @Display( Model.Pager )   
        }
    }

@using (Script.Foot())
{
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function () {

            $(".new-post-list").slideUp();

            $(".new-posts-thread-title").click(function (e) {
                $(this).next().slideToggle();
            });
                
        });
        //]]>
    </script>

}